on:
  workflow_dispatch:
    inputs:
      version_number:
        description: Version number
        required: False
        type: string
      
name: Create Branch

jobs:
  build:
    name: Create Branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          date > generated.txt
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "generated"
          git push origin/my_new_branch
