on:
  workflow_dispatch:
    inputs:
      version_number:
        description: Version number
        required: False
        type: string
      
name: Create Branch

jobs:
  build:
    name: Create Branch
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: create my branch 
        run: |
          git switch --create "my_new_branch"
          git push -u origin "my_new_branch"
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
